body {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  background-color: #f4efe9;
  color: #2d2d2d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  border-bottom: 1px solid #e5ddd5;
}

.brand {
  font-weight: 600;
}

.write-btn {
  background: #e56a45;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.container-editor {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 60px;
}

.editor-left {
  width: 600px;
}

.editor-right {
  width: 300px;
}

input, textarea {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 8px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 14px;
}

textarea {
  height: 350px;
  resize: none;
}

.publish-btn {
  background: #e56a45;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

.ai-box {
  background: #dfeaf2;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #c2d8e6;
}

.ai-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor-right {
  width: 300px;
  margin-top: 185px;  /* adjust this value */
}
.ai-generate {
  background: #3d8dbb;
  border: none;
  padding: 6px 14px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.home-container {
  padding: 60px 120px;
  
}

.home-title {
  font-size: 48px;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 60px;
}

.featured-post {
  cursor: pointer;
  margin-bottom: 40px;
}

.post-title {
  font-size: 28px;
  color: #c14f2c;
  margin-bottom: 15px;
}

.post-preview {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.post-divider {
  border: none;
  border-top: 1px solid #e5ddd5;
}

.home-btn {
  background: transparent;
  border: 1px solid #e56a45;
  color: #e56a45;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;

}

.home-btn:hover {
  background: #e56a45;
  color: white;
}

.active-home {
  background: #e56a45;
  color: white;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 35px;   /* increase spacing */
}

/* Blog Detail Page */

.detail-container {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

.detail-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.detail-meta {
  color: #777;
  font-size: 14px;
  margin-bottom: 40px;
}

.detail-content {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  white-space: pre-line;
}

.detail-actions {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.edit-btn {
  background: transparent;
  border: 1px solid #e56a45;
  color: #e56a45;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn:hover {
  background: #e56a45;
  color: white;
}

.delete-btn {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #cc0000;
}